{
	"extends": "stylelint-config-standard",
	"rules": {
		"font-family-name-quotes": "always-where-recommended",
		"block-no-empty": null,
		"selector-class-pattern": ["^(MMM-[A-Z][a-zA-Z0-9]*|[a-z][a-z0-9]*(-[a-z0-9]+)*)$", {
			"message": "Expected class selector to be kebab-case or a MagicMirror module name (MMM-Foo)"
		}]
	}
}
